{erl_opts, [debug_info,
	% warnings_as_errors,
        {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{deps, [
        lager,
        jsxd,
        {gun, ".*", {git, "https://github.com/ninenines/gun.git", {ref, "3f14981cd51c95d32fcf6ec313b6a3dca2bc8b6b"}}},
        {msgpack, "0.3.*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.3"}}},
        {jsx, "1.4.5"}
       ]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]}, {plugins, [{rebar3_eqc, ".*", {git, "git://github.com/project-fifo/rebar3-eqc-plugin.git", {branch, "fifo"}}}]}]}
 ]}.
