{erl_opts, [debug_info,
	% warnings_as_errors,
        {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{deps, [
        lager,
        jsxd,
        gun,
        msgpack,
        {jsx, "1.4.5"}
       ]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
  {erl_opts, [debug_info, {parse_transform, lager_transform}, {parse_transform, eqc_cover}]},
  {plugins, [rebar3_eqc]}]}
 ]}.
